- var url = 'images/'
.banner.container-fluid#banner
	.row
		.col-xs-12
			.owl-carousel
				.item
					img.hidden-xs(src=url + "banner.png", alt="")
					img.visible-xs(src=url + "banner-m.png", alt="")
				.item
					img.hidden-xs(src=url + "banner.png", alt="")
					img.visible-xs(src=url + "banner-m.png", alt="")
				.item
					img.hidden-xs(src=url + "banner.png", alt="")
					img.visible-xs(src=url + "banner-m.png", alt="")
				.item
					img.hidden-xs(src=url + "banner.png", alt="")
					img.visible-xs(src=url + "banner-m.png", alt="")